# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# ML Models (Keep only essential production models if small, ignore others)
# model.txt
# datasets.zip

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
