# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# ML Models & Data
*.csv
prepare_datasets.py
datasets.zip
!datasets.zip
# CatBoost artifacts
catboost_info/
*.bin
*.json
*.pkl
!model_lgb.txt
!model_xgb.json
!model_cb.bin
!pipeline.pkl

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.log
